/* Custom styles for larger screens */
@media (min-width: 992px) {
    /* Adjust the logo and icon size */
    .navbar-brand {
      font-size: 40px;
    }
    .fa-mug-hot {
      font-size: 36px;
    }
    /* Adjust the right margin of the navigation links */
    #navbarSupportedContent {
      margin-right: 68px;
    }
  }
  
  /* Custom styles for smaller screens */
  @media (max-width: 991px) {
    /* Adjust the logo and icon size */
    .navbar-brand {
      font-size: 30px;
    }
    .fa-mug-hot {
      font-size: 26px;
    }
    /* Adjust the right margin of the navigation links */
    #navbarSupportedContent {
      margin-right: 20px;
    }
  }
  
  
  .navbar-nav .nav-link:hover {
    color: #FA8072 !important;
  }