/* Custom styles for larger screens */
@media (min-width: 992px) {
    /* Adjust the logo and icon size */
    .navbar-brand {
      font-size: 40px;
    }
    .fa-mug-hot {
      font-size: 36px;
    }
    /* Adjust the right margin of the navigation links */
    #navbarSupportedContent {
      margin-right: 68px;
    }
  }
  
  /* Custom styles for smaller screens */
  @media (max-width: 991px) {
    /* Adjust the logo and icon size */
    .navbar-brand {
      font-size: 30px;
    }
    .fa-mug-hot {
      font-size: 26px;
    }
    /* Adjust the right margin of the navigation links */
    #navbarSupportedContent {
      margin-right: 20px;
    }
  }
  
  
  .navbar-nav .nav-link:hover {
    color: #FA8072 !important;
  }












.banner img {
    max-width: 100%;
    height: auto;
}
/* Contact form styles */
.contact-form {
    padding: 40px 0;
    margin: 0 10px;
}
 
.form-container {
    max-width: 40%;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
 
.contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
}
 
.form-group {
    margin-bottom: 20px;
}
 
.form-container label {
    display:block;
    font-weight: bold;
}
.form-container input, textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 1rem;
    resize: vertical;
}
.submit-button {
    padding: 10px 20px;
    background-color: #FA8072;
    border: none;
    color: white;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}
 
/* Contact info styles */
.contact-info {
    text-align: center;
    padding: 50px 0;
    background-color: #f7f7f7;
}
 
.contact-info h2 {
    margin-bottom: 20px;
}
 
/* Footer styles */
footer {
    padding: 20px;
    text-align: center;
    background-color: #333;
    color: white;
}
/* Hamburger styles */
.hamburger {
    display: none;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    cursor: pointer;
}
 
/* Media queries for responsiveness */
@media only screen and (max-width: 768px) {
    .logo {
        display: none;
    }
 
    .hamburger {
        display: flex;
    }}
    body {
        overflow-x: hidden!important;
        overflow-y: auto;
      }
.submit-button:hover{
    background-color:white;
    border: 1px solid;
    border-color: #FA8072 ;
    color: #FA8072;
}    