



/* Custom styles for larger screens */
@media (min-width: 992px) {
    /* Adjust the logo and icon size */
    .navbar-brand {
      font-size: 40px;
    }
    .fa-mug-hot {
      font-size: 36px;
    }
    /* Adjust the right margin of the navigation links */
    #navbarSupportedContent {
      margin-right: 68px;
    }
  }
  
  /* Custom styles for smaller screens */
  @media (max-width: 991px) {
    /* Adjust the logo and icon size */
    .navbar-brand {
      font-size: 30px;
    }
    .fa-mug-hot {
      font-size: 26px;
    }
    /* Adjust the right margin of the navigation links */
    #navbarSupportedContent {
      margin-right: 20px;
    }
  }
  
/* Custom styles for larger screens */
@media (min-width: 992px) {
    /* Adjust the logo and icon size */
    .navbar-brand {
      font-size: 40px;
    }
    .fa-mug-hot {
      font-size: 36px;
    }
    /* Adjust the right margin of the navigation links */
    #navbarSupportedContent {
      margin-right: 68px;
    }
  }
  
  /* Custom styles for smaller screens */
  @media (max-width: 991px) {
    /* Adjust the logo and icon size */
    .navbar-brand {
      font-size: 30px;
    }
    .fa-mug-hot {
      font-size: 26px;
    }
    /* Adjust the right margin of the navigation links */
    #navbarSupportedContent {
      margin-right: 20px;
    }
  }
  
/* Custom styles for larger screens */
@media (min-width: 992px) {
    /* Adjust the logo and icon size */
    .navbar-brand {
      font-size: 40px;
    }
    .fa-mug-hot {
      font-size: 36px;
    }
    /* Adjust the right margin of the navigation links */
    #navbarSupportedContent {
      margin-right: 68px;
    }
  }
  
  /* Custom styles for smaller screens */
  @media (max-width: 991px) {
    /* Adjust the logo and icon size */
    .navbar-brand {
      font-size: 30px;
    }
    .fa-mug-hot {
      font-size: 26px;
    }
    /* Adjust the right margin of the navigation links */
    #navbarSupportedContent {
      margin-right: 20px;
    }
  }
  
      


  .navbar-nav .nav-link:hover {
    color: #FA8072 !important;
  }












divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
#one:hover {
    /* Styles for hover effect */
    background-color:  color #FA8072!important; 
 color: black!important; 
}
