



/* Custom styles for larger screens */
@media (min-width: 992px) {
  /* Adjust the logo and icon size */
  .navbar-brand {
    font-size: 40px;
  }
  .fa-mug-hot {
    font-size: 36px;
  }
  /* Adjust the right margin of the navigation links */
  #navbarSupportedContent {
    margin-right: 68px;
  }
}

/* Custom styles for smaller screens */
@media (max-width: 991px) {
  /* Adjust the logo and icon size */
  .navbar-brand {
    font-size: 30px;
  }
  .fa-mug-hot {
    font-size: 26px;
  }
  /* Adjust the right margin of the navigation links */
  #navbarSupportedContent {
    margin-right: 20px;
  }
}




.navbar-nav .nav-link:hover {
    color: #FA8072 !important;
  }
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .button {
    margin: 0 10px;
  }
  .button {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
    background-color:gray;
    border: 2px solid #fff;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .button:hover {
    background-color:#FA8072!important;
    color:white!important;
  }
  .card-img-top{
    width: 100% !important; /* Make the image take up the entire width of the card */
    height: auto !important; /* Maintain aspect ratio */
  }
  .card-body {
    flex: 1 1 auto;
    padding: 0px!important;
}
.price-box {
    background-color: #FA8072; /* Set background color */
    color: white; /* Set text color */
    padding: 10px 20px; /* Add padding */
    border-radius: 5px; /* Add border radius */
    font-size: 16px; /* Set font size */
    display: inline-block; /* Make it inline block */
}
.custom-button {
    background-color: white; /* Set white background */
    border: 2px solid #FA8072; /* Set border color */
    color: #FA8072; /* Set text color */
    padding: 10px 20px; /* Add padding */
    font-size: 16px; /* Set font size */
    cursor: pointer; /* Add cursor pointer */
    border-radius: 8px;
    transition: background-color 0.3s; /* Add transition effect */
}

/* Hover effect */
.custom-button:hover {
    background-color: #FA8072 !important; /* Change background color on hover */
    color: white !important; /* Change text color on hover */
}